# Python Sets, DIctionaries and Tuples

 - unordered collection datatype
 - iterable and mutable 
 - Does not contain duplicates
 - Based on a data structure k/a hash table

In [1]:
my_set= set()

In [4]:
print(my_set)

set()

In [3]:
print(type(set))

<class 'type'>

In [6]:
my_set={"Apple","Apple", "Ball",'Coin',"Python"}

In [7]:
my_set

{'Apple', 'Ball', 'Coin'}

 - Inbuilt functions in sets

In [9]:
my_set.add("Neha")

In [10]:
my_set

{'Apple', 'Ball', 'Coin', 'Neha'}

In [15]:
my_set={"Apple","Apple", "Ball",'Coin',"Python"}
my_set1={"Apple","Apple", "Ball",'Coin'}

In [17]:
my_set1.difference(my_set)

set()

In [18]:
my_set.difference(my_set1)

{'Python'}

In [23]:
my_set1.intersection_update(my_set)

In [20]:
my_set1.union(my_set)

{'Apple', 'Ball', 'Coin', 'Python'}

In [21]:
my_set1

{'Apple', 'Ball', 'Coin'}

In [22]:
my_set

{'Apple', 'Ball', 'Coin', 'Python'}

# Dictionaries

- Key value pairs 
- Unordered, Changeable and Indexed
- Use Curly brackets for defining

In [2]:
dic={}

In [3]:
type(dic)

dict

In [5]:
dic={1,2,3,4}

In [6]:
type(dic)

set

In [8]:
dic1={"Fruit1":"Apple", "Fruit2":"Mango", "Fruit3":"Kiwi", "Fruit4":"Orange"}

In [9]:
dic1

{'Fruit1': 'Apple', 'Fruit2': 'Mango', 'Fruit3': 'Kiwi', 'Fruit4': 'Orange'}

In [ ]:
# Acess the item values based on keys

In [11]:
dic1["Fruit2"]

'Mango'

In [12]:
# Looping through dictionary keys

for x in dic1:
    print(x)

Fruit1
Fruit2
Fruit3
Fruit4

In [13]:
# Looping through dictionary values

for x in dic1.values():
    print(x)

Apple
Mango
Kiwi
Orange

In [14]:
# Looping through both dictionary keys and values

for x in dic1.items():
    print(x)

('Fruit1', 'Apple')
('Fruit2', 'Mango')
('Fruit3', 'Kiwi')
('Fruit4', 'Orange')

In [15]:
# Adding items to dictionaries

dic1["Fruit5"]=["Banana"]

In [16]:
dic1

{'Fruit1': 'Apple',
 'Fruit2': 'Mango',
 'Fruit3': 'Kiwi',
 'Fruit4': 'Orange',
 'Fruit5': ['Banana']}

In [17]:
# Updating values in dictionaries gets overwritten

dic1["Fruit1"]=["Banana"]

In [18]:
dic1

{'Fruit1': ['Banana'],
 'Fruit2': 'Mango',
 'Fruit3': 'Kiwi',
 'Fruit4': 'Orange',
 'Fruit5': ['Banana']}

# Nested Dictionary

In [21]:
car1_model={"Mercedes":1960}
car2_model={"Audi":1970}
car3_model={"BMW":1999}

car_type={'car1':car1_model, 'car2':car2_model, 'car3':car3_model}

In [22]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'BMW': 1999}}

In [ ]:
# Accessing the items in the dictonary

In [23]:
print(car_type['car2'])

{'Audi': 1970}

In [29]:
print(car_type['car2']['Audi'])

1970

# Tuples

- cannot change elements in tupes so immutable
- defined in round brackets()
- Doesnot support item assignment

In [30]:
# create empty tuple

a=()

In [31]:
type(a)

tuple

In [32]:
a=('Neha','Mudit','Prashant','Suryansh')

In [34]:
print(type(a))
print(a)

<class 'tuple'>
('Neha', 'Mudit', 'Prashant', 'Suryansh')

In [36]:
a=('Narendra','Mudit','Prashant','Suryansh')

In [37]:
a[0]='Neha'

TypeError: 'tuple' object does not support item assignment

In [38]:
print(a)

('Narendra', 'Mudit', 'Prashant', 'Suryansh')

- Inbuiltl Function in tuples

In [39]:
a.count('Neha')

0

In [41]:
a.index('Prashant')

2